
#inputbox{
    display:none;
}

.welcomebox{
    display:block;
}

.success, .failure{
    display:none;

}
.success{
    background-color: aquamarine;

}
.failure{
    background-color: red;
}

#hintbox{
    background-color: beige;
    display:none;
}

#chancebox{
    display : none;
}

#restartbtn{
    display:none;
    
}